###
# This file is only here to make sure that something like
#
#    pip install -e .
#
# works as expected. Requirements can be found in setup.py.
###

.
docker==5.0.3
bcrypt==3.2.2
cryptography==38.0.1
paramiko==2.12.0